# env files / credentials
.env
.env.*
!.env.example
*.env

# python
__pycache__/
*.pyc
.venv/

# node
node_modules/
dist/
build/

# dbt
dbt/target/
dbt/dbt_packages/
dbt/logs/
dbt/profiles.yml
.user.yml/

# misc
.DS_Store
*.log